/* Same design as Accordion/Cards/Slider */
.webthiker-block.split-block-editor,
.split-block-editor {
  padding: 1rem;
  border: 1px dashed #ccc;
  border-radius: 4px;
}

.webthiker-block.split-block-editor h3,
.split-block-editor h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.split-block-editor dl {
  margin: 0;
}

.split-block-editor dt {
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

.split-block-editor dd {
  margin-left: 0;

}

.split-block-editor .button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}